<!-- Begin Location Section -->
<section id="location-map-new">
    <div class="content-wrapper">
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15767.963083972276!2d153.05156797013123!3d-27.55123535626856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b91417e4fffffff%3A0xba3d6ea0c09dd0de!2sGriffith%20University%20Nathan%20Campus!5e0!3m2!1sen!2sau!4v1661820483257!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
</section>
<!-- End Location Section -->

